/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2021, 3:24:21 PM
    Author     : Pham Thi Huyen
*/
body{
    background-color: #E7E7E7;
}

.container{
    width: 886px;
    height: auto;
    margin: 0 auto;
    font-family: arial;
}

.content{
    background: url(../images/bg.jpg);
    width: 886px;
    height: auto;
    display: flex;
}

.left{
    width: 70%;
    height: auto;
    padding-left: 90px;
    padding-top: 20px;
    padding-right: 20px;
    border-right: 2px dashed #e0e0e0;
}

.title a{
    text-decoration: none;
    color: #42554e;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 15px;
}

.image_search img{
    width: 200px;
    height: auto;
    float: left;
}

.shortDes_search{
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 20px;
}

.page{
    margin-top: 20px;
    text-align: center;
}

.page a{
    text-decoration: none;
    background-color: #e0e0e0;
    color: black;
    padding: 8px 6px;
    border-radius: 5px;
}

.active{
    background-color: #5a5656!important;
    color: white!important;
}